<%= form_with(model: @post, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.collection_select :herb_id, Herb.all, :id, :name, include_blank: "選択してください" %>
  <!-- check box -->
  <%= f.collection_check_boxes(:herb_property_ids, HerbProperty.all, :id, :feature) %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new post..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
  <span class="image">
    <%= f.file_field :image, accept: "image/png,image/jpeg,image/gif" %>
  </span>
<% end %>
