<dt>名前</dt>
<dd><%= herb.name %></dd>
<dt>別名</dt>
<dd><%= herb.alies %></dd>
<dt>種類</dt>
<dd><%= herb.classification_i18n %></dd>
<dt>画像</dt>
<dd><%= herb.image %></dd>
<dt>特徴</dt>
<dd>
  <ul>
    <% herb.herb_properties.each do |property| %>
      <li><%= property.feature %></li>
    <% end %>
  </ul>
</dd>
<%= link_to "SHOW", herb, method: :get %>
<hr>
