<article class="card">
  <div class="card_header">
    <figure class="card_thumbnail">
      <%= image_tag "noimage.jpg", class: "card_image", alt: "image" %>
    </figure>
    <h3 class="card_title">
      <%= herb.name %>
    </h3>
  </div>
  <div class="card_text">
    <p><%= herb.alies %></p>
    <p><%= herb.classification_i18n %></p>
    <div class = "card_icon">
      <ul>
        <% herb.herb_properties.each do |property| %>
          <li><%= image_tag "#{property.feature}.png" %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <%= link_to "SHOW", herb, method: :get %>
</article>
