<% provide(:title, "詳細情報") %>
<div class="wrapper">
  <h1>SHOW</h1>
  <p id="herb-<%= @herb.id %>">
    <% if logged_in? %>
      <% if @herb.favorited_by?(current_user) %>
        <!-- お気に入り:登録済み => 押すと解除 -->
        <%= render "favorite", herb: @herb %>
      <% else %>
        <!-- お気に入り:未登録 => 押すと登録 -->
        <%= render "unfavorite", herb: @herb %>
      <% end %>
    <% end %>
  </p>
  <p><%= @herb.name %></p>
  <p><%= @herb.alies %></p>
  <p><%= @herb.classification_i18n %></p>
  <% unless @description.nil? %>
    <hr>
    <h2>概要</h2>
    <p><%= markdown @description.overview %></p>
    <hr>
    <h2>利用方法</h2>
    <p><%= markdown @description.how_to_use %></p>
    <hr>
    <h2>栽培方法</h2>
    <p><%= markdown @description.how_to_grow %></p>
    <hr>
    <h2>備考</h2>
    <%= markdown @description.note %>
    <hr>
  <% else %>
    <p>【 詳細データ未登録 】</p>
  <% end %>
</div>
