<!DOCTYPE html>
<html>
  <head>
    <title>Herbnote</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <!-- header 仮置き -->
    <header id="header" class="wrapper">
      <h1 class="site-title">
        <%= link_to "HERB NOTE", root_path, class: "logo" %>
      </h1>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Herbs</a></li>
          <li><a href="#">Posts</a></li>
          <li><a href="#">Account</a></li>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
